:root {
    --pqfw-primary-font: 'Montserrat', sans-serif;
    --pqfw-secondary-font: 'Inter', sans-serif;
    --pqfw-primary-color: #7b68ee;
    --pqfw-secondary-color: #eae8fa;
    --pqfw-text-color: #111;
    --pqfw-border-color: #E5E4E6;
    --pqfw-gray-color: #f6f7f9;
    --pqfw-dark-gray-color: #999999;
}