.quotify-button {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	box-shadow: none;
	transition-property: all;
	transition-duration: 0.05s;
	transition-timing-function: ease-in;
}
