.quotify-top-bar {
	align-items: center;
	background-color: #fff;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid var(--quotify-border-color);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	padding: 18px 24px;
	position: sticky;
	top: 0px;
	z-index: 1000;

	.quotify-backend-top-bar-left {
		align-items: center;
		display: flex;
		gap: 5px;
		width: 30%;
		font-size: 16px;

		.quotify-backend-app-logo {
			height: auto;
			width: 100px;
		}

		.quotify-top-bar-heading {
			align-items: center;
			display: flex;
			font-size: 14px;
			font-weight: 400;
			gap: 20px;
			line-height: 20px;
			margin: 0;
		}
	}

	.quotify-backend-top-bar-right {
		flex-wrap: wrap;
		display: flex;
		width: 60%;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}
}
