/* Base CSS */

.pqfw-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.pqfw-container {
    max-width: 930px;
    margin: 0 auto;
    margin: 0 auto;
}

/* Settings Box */
.pqfw-options-box-header {
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 12px 12px;
    margin: 0;
    line-height: 1.4;
}

.pqfw-options-settings-section ul {
    margin: 0;
}

.pqfw-options-settings-section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}

.pqfw-options-settings-section ul li:nth-child(odd) {
    width: 74%;
}

.pqfw-options-settings-section ul li:nth-child(even) {
    width: 26%;
}

.pqfw-entry-wrap {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.pqfw-entry-wrap .hndle {
    padding: 8px 12px;
    margin: 0;
    font-size: 14px;
}

.pqfw-entry-left {
    flex-basis: 70%;
}

.pqfw-entry-right {
    flex-basis: 28%;
    margin-left: 30px;
}

table.wp-list-table.widefat.fixed.striped.posts {
    border: none;
}

.pqfw-entry-right .button {
    display: flex;
    align-items: center;
}