/**
 * PQFW Frontend CSS.
 *
 * @author Mahafuz
 * @package PQFW
 * @version 1.0.0
 */


#pqfw-frontend-form-wrap {
    display: none;
}

.use-pqfw-form-default-design ul.pqfw-frontend-form {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.use-pqfw-form-default-design .pqfw-form-field {
    margin-left: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.use-pqfw-form-default-design .pqfw-form-label {
    display: block;
    float: none;
    width: 100%;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-size: 14px;
}

.use-pqfw-form-default-design .pqfw-form-label .field-required {
    color: red;
}

.woocommerce .use-pqfw-form-default-design .pqfw-form-field input,
.woocommerce .use-pqfw-form-default-design .pqfw-form-field textarea {
    padding: 5px;
    background: #fafafa;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    color: #888;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

.use-pqfw-form-default-design .pqfw-form-field.hasError {
    background: #FFE4E4;
}

.use-pqfw-form-default-design .pqfw-form-title {
    padding: 10px;
}

.use-pqfw-form-default-design .pqfw-form .loading-spinner.loading {
    width: 16px;
    height: 16px;
    background: url('../images/loader.gif') no-repeat;
    display: inline-block;
}

.use-pqfw-form-default-design .pqfw-form-response-status {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    font-size: 13px;
}

.use-pqfw-form-default-design .pqfw-form-response-status.success {
    background: #00846433;
    border: 1px solid #00846433;
}

.use-pqfw-form-default-design .pqfw-form-response-status.error {
    background: #FFE4E4;
    border: 1px solid #ffb1b1;
}

.use-pqfw-form-default-design .pqfw-form-response-status p {
    margin: 2px 0;
}


/* === Floating Form Style === */
.use-pqfw-form-default-design.floating-form .pqfw-form-label {
    float: left;
    width: 20%;
}

.woocommerce .use-pqfw-form-default-design.floating-form .pqfw-form-field input,
.woocommerce .use-pqfw-form-default-design.floating-form .pqfw-form-field textarea {
    float: left;
    width: 79%;
}

.use-pqfw-form-default-design.floating-form .pqfw-form-field {
    overflow: hidden;
}

.woocommerce .use-pqfw-form-default-design.floating-form .pqfw-submit {
    text-align: right;
}

.woocommerce .use-pqfw-form-default-design .pqfw-submit input[type="submit"] {
    font-size: 16px;
    padding: 5px 15px;
    line-height: inherit;
    height: inherit;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    display: inline-block;
    width: auto;
    float: none;
}