/* .pqfw-list-products {
    width: 100%;
    border-collapse: collapse;
}

.pqfw-list-products thead {
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}

.pqfw-quotation-produts-detail {padding-top: 25px;}

td.pqfw-product-thumbnail > a {display: block;}

td.pqfw-product-thumbnail > a > img {max-width: 100px;}

table.pqfw-list-products td {text-align: center;}

table.pqfw-list-products td.pqfw-product-thumbnail {text-align: left;}

div#post-body-content { margin: 0;} */